<div class="card" style="text-align: center;">
    <div class="card-body">
        <h4>Acesso a área de categorias:</h4>
        <a href="/admin/categories"><button class="btn btn-success">Área de Categorias</button></a>
    </div>
</div>
<br>
<div class="card" style="text-align: center;">
    <div class="card-body">
        <h4>Acesso a área de postagens:</h4>
        <a href="/admin/posts"><button class="btn btn-success">Área de Postagens</button></a>
    </div>
</div>